.App {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #FFF8F0;
}

.SignInUp {
  width: 100%;
  height: 100%;
  background-color: #FFF8F0;
}

.signInButton {
  text-align: center;
}

.FormFields {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.FormFieldsSignUp {
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.input

.bottomDiv {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.headerRow {
   padding: 16px 0px;
  # background-color: #FFF8F0;
   position: fixed;
   top: 0;
  width: 100%;
}

.trend {
  text-align: center;
  margin-top: 20px;
}
.trendDiv {
#  width: 200px;
#  margin-left: 50px;
#  margin-right: 50px;
  text-align: center;
  margin:0 auto;
}

.homeBottom {
  position: absolute;
  width: 100%;
  bottom: 35px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FFF8F0;
  height: 200px;
  padding: 35px;
  color: #FFF8F0;
}

.oo-header {
  background-color: #FFF8F0;
  height: 210px;
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 35px;
  color: #FFF8F0;
  text-align: center;
}

.datesContainer {
  overflow: hidden;
  # height: 525px;
  #padding-left: 35px;
  #padding-right: 35px;
  margin-top: 40px;
  margin-bottom: 210px;
  #boarder: solid 10px #00F;
  height: 100%;
}

.mainContainer {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.dateBox {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  text-align: center;
}

.dateSwitch {
  margin-top: 50px;
  text-align: center;
}

.pageHeader {
  padding: 35px;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  padding: .5rem 0;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 3.5rem;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  padding-top: 10px;
}

h2 {
  padding: .5rem 0;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 2.5rem;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  padding-top: 10px;
}

h3 {
  padding: .5rem 0;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 2rem;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  padding-top: 7px;
}

p {
  font-family: 'Varela Round', sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  color: #A0A8A0;
  text-align: center;
}

.tagLine {
  font-size: 1.2rem;
}

.card .card-content p {
  font-family: 'Varela Round', sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  color: #A0A8A0;
  text-align: center;
}

hr {
  color: #A0A8A0;
  background-color: #A0A8A0;
  height: 1px;
  border: none;
}

.pGreen {
  color: #4db6ac;
}

.pRed {
  color: #ff3d00;
}

.HeaderLine {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 20%;
  margin-right: 20%;
  border-style: inset;
  border: none;
  color: #A0A8A0;
  background-color: #A0A8A0;
  height: 1px;
}

.goButton {
  margin-top: 50px;
  margin-bottom: 20px;
}

.signOutButton {
  margin: 30px;
}

.dateButton {
  margin: 5px;
}

.logIn {
    font-family: 'Varela Round', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    color: #A0A8A0;
}



.dashIcon {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.reminderAlerts {
#  color: red;
  margin: auto;
}

.activityText {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 2rem;
}

.signInNavButton {
  text-align: center;
}

.resetNavButton {
  text-align: center;
  margin-top: 15px;
}

.button1 {
  background-color: #FFF8F0;
  color: #A0A8A0;
  border: none;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}
.button1:focus {
  background-color: #FFF8F0;
  color: #A0A8A0;
  border: none;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.habitButton {
  margin-top: 0px;
  margin-bottom: 8px;
}

.bad {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: #ff3d00;
      display: in-line;
}

.sigBad {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: #ff3d00;
}

.badButton {

    background-color: #ff3d00;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    border-radius: 50%;

}

.goodButton {

    background-color: #4db6ac;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 50%;

}

.good {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #4db6ac;
  display: in-line;
}

.sigGood {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #4db6ac;
}

.notSetButton {

    background-color: #A0A8A0;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 50%;
}

.notSet {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: #A0A8A0;
      display: in-line;
}

.sigNotSet {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: #A0A8A0;
}

.blank {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: #FFF8F0;
      display: in-line;
}

.blankButton {

    background-color: #FFF8F0;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 50%;
}

.trendButton {
  background-color: #FFF8F0;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.trendButton:focus {
  background-color: #FFF8F0;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.bottomMenuButton {
  background-color: grey;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

td {
  padding: 10, 5;
}

.dateCard {
  background-color: #FFF8F0;
}

.todayCard {
  background-color: #FFF8F0;
  # margin-top: 35px; /* minus half the height */
}

.spacer {
  height: 30px;
}

.percent {
  margin-top: 27px;
}

.percentText {
  margin-top: 0px;
  margin-bottom: 5px;
}

.modal-content {
  background-color: #FFF8F0;
}

.modal-footer {
  background-color: #FFF8F0 !important;
}

.centeredMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menuBut {
  margin: 20px;
}

.screenNameLabel {
  margin-top: 100px;
}

.signOutDiv {
  margin-top: 170px;
}

.over {
  margin-top: 15px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFF8F0;
    color: white;
    text-align: center;
    # height: 40px;
    border: none;
}

.progressBarBox {
  left: 0;
  width: 100%;
  background-color: #A0A8A0;
  height: 35px;
  border: none;
}


.progress-bar {
    width: 100%;
    background: #A0A8A0;
    position: relative;
    border-radius: 5px;
}

.progress-bar-percentage {
    background: #4db6ac;
    padding: 5px 0px;
    color: #FFF;
    text-align: center;
    height: 30px;
    # width: 60%;
    border-radius: 5px;
    vertical-align: middle;
}

.progress-bar-percentage span {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
    color: #FFF8F0;
}

.basicButton {
  background-color: #FFF8F0;
  text-align: center;
  border: none;
}

.basicButton:focus {
  background-color: #FFF8F0;
  text-align: center;
  border: none;
}

.pie {
  display: inline-block;
  float: left;
}

.learnMore {
  margin-bottom: 60px;
}

.leagueSmall {
  width: 100%;

  # text-align: center;
}

.leagueEntry {
  padding: 0;
}

.tableOuter {
  margin-top: 15px;
  margin-bottom: 100px;
}

.tableBigInner {
  margin-top: 50px;
}

.leaguePosColourUp {
  color: #4db6ac;
}

.leaguePosColourDown {
  color: #ff3d00;
}
